# hide tmp(_), secure(__) files
_*
__*

# OVER 100MB
train.csv

########################################
# Mac OS finder
.DS_Store

# vscode configurations
.vscode
.history

# vim swap file
.*.swp
.*.swo
